<div class="question-group" [formGroup]="question()">
  <div class="question-group__header">
    <label class="question-group__label" [for]="'question-' + index()">
      {{ index() + 1 }}. Question <span aria-hidden="true">*</span>
    </label>
    <app-close-icon-button
      [ariaLabel]="index() === 0 ? 'Clear question' : 'Remove question'"
      (clicked)="removeQuestion.emit()"
    />
  </div>
  <input
    class="question-group__text"
    [id]="'question-' + index()"
    type="text"
    formControlName="text"
    [placeholder]="placeholder()"
  />

  <div class="question-group__answers-header">
    <span class="question-group__label">Answers <span aria-hidden="true">*</span></span>
    <app-checkbox [checked]="allowMultiple.value" (checkedChange)="allowMultiple.setValue($event)">
      <span class="question-group__allow-multiple">Allow multiple answers.</span>
    </app-checkbox>
  </div>

  <div class="question-group__options" formArrayName="options">
    @for (option of options.controls; track option) {
      <div class="option-row" [formGroupName]="$index">
        <span class="option-row__letter">{{ letter($index) }}.</span>
        <input
          class="option-row__text"
          type="text"
          formControlName="text"
          [attr.aria-label]="'Answer ' + letter($index)"
        />
        <app-close-icon-button ariaLabel="Remove answer" (clicked)="removeOption($index)" />
      </div>
    }
  </div>

  <div class="question-group__footer">
    <button
      type="button"
      class="question-group__add-answer"
      [disabled]="!canAddOption()"
      (click)="addOption()"
    >
      Add answer
      <app-icon name="add-circle" [width]="16" />
    </button>
    @if (options.length > 2) {
      <span class="question-group__limit-hint">You can add up to {{ maxOptions }} answer fields.</span>
    }
  </div>
</div>
